@model IEnumerable<Programming_Assessment.Models.Course>

@{
    ViewBag.Title = "Course Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Course Name")
        </th>
        <th>
            @Html.DisplayName("Duration (Months)")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCourse }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCourse }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCourse })
        </td>
    </tr>
}

</table>
