@model Programming_Assessment.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Semester Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.SemesterName)
        </dd>

        <dt>
            @Html.DisplayName("Course Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDRegistration }) |
    @Html.ActionLink("Back to List", "Index")
</p>
